{{> header }}

<!-- sidebar starts -->
    <div class="sidebar">
        <div class="sidebarOption justify-content-center">
            <a href="index"><img src="/img/GroupBlkTrsp.png" class="w-50 text-center" alt=""></a>
        </div>
        <a href="/"><div class="sidebarOption">
            <span class="material-icons"> home </span>
            <h2>Home</h2>
        </div>
        </a>

        <div class="sidebarOption">
            <span class="material-icons"> search </span>
            <h2>Explore</h2>
        </div>

        <div class="sidebarOption">
            <span class="material-icons"> notifications_none </span>
            <h2>Notifications</h2>
        </div>

        <div class="sidebarOption">
            <span class="material-icons"> mail_outline </span>
            <h2>Messages</h2>
        </div>

        <div class="sidebarOption">
            <span class="material-icons"> bookmark_border </span>
            <h2>Bookmarks</h2>
        </div>

        <div class="sidebarOption">
            <span class="material-icons"> list_alt </span>
            <h2>Lists</h2>
        </div>

        <div class="sidebarOption active">
            <span class="material-icons"> perm_identity </span>
            <h2>Profile</h2>
        </div>

        <div class="sidebarOption">
            <span class="material-icons"> more_horiz </span>
            <h2>More</h2>
        </div>
        <button class="sidebar__tweet">Tweet</button>
    </div>
    <!-- sidebar ends -->

    <!-- feed starts -->
        <div class="feed">
        <div class="feed__header">
            <h2>Home</h2>
        </div>

        <!-- tweetbox starts -->
        <div class="profile-head">
            <img src="img/back.jpg" alt="">
            <div class="profile-head-info">
                <img class="circle3" src="/uploads/{{ user.UserProfileImage }}" alt="">
                <h4>{{ user.UserName }}</h4>
                <a href="edit"><input class="twitter-btn" type="button" value="Edit Profil" class="sidebarOption"></a>
            </div>

            
            
        </div>


        <hr>
    <!-- tweetbox ends -->

   {{!-- Socket.io --}}
    <script type="module">
export default {
  data() {
    return {
      socketmessages: [], // Initialize the socketmessages data property
    };
  },
  mounted() {
    // Connect to the Socket.io server
    const socket = io();

    // Listen for new messages from the server
    socket.on('newMessage', (message) => {
      this.displayMessage(message);
    });

    // Fetch messages from the server
    fetch('/messages')
      .then((response) => response.json())
      .then((data) => {
        this.socketmessages = data.socketmessages;

        // Display the fetched messages
        this.socketmessages.forEach((message) => {
          this.displayMessage(message);
        });
      })
      .catch((error) => {
        console.error('Error fetching messages:', error);
      });
  },
  methods: {
    displayMessage(message) {
      // Display the message in your component's template
      console.log('New message:', message);
    },
  },
};


{{> footer}}