@font-face {
  font-family: 'Lato';
  src: url('path/to/lato-regular-webfont.woff2') format('woff2'), /* Modern Browsers */
       url('path/to/lato-regular-webfont.woff') format('woff'); /* Legacy Browsers */
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: "Segoe UI Emoji", "Noto Color Emoji", "Twemoji", sans-serif;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.com {
    height: auto;
}

.tweetbox__input {
    display: flex;
    padding: 20px;
    gap: 10px;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    resize: none !important; /*remove the resize handle on the bottom right*/
}

.under{
    border-top: solid gray 1px;
    margin-left: 5%;
    margin-right: 5%;
    gap: 10px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: absolute; /* Change to absolute */
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%); /* Add this to center horizontally */
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}


/* Image Preview */

  .imagePreview {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  
  .imagePreview img {
    width: 100%;
    height: auto;
  }

/* Icone */
.material-icons:hover{
    cursor: pointer;
}

.addimg{
    width: 75px;
}

.socketimg{
  text-align: center;
}

/* Emoji */
.emoji-picker {
    display: inline-block;
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
  }

  .emoji-picker:hover {
    background-color: #f1f1f1;
  }

  #emojiPickerModal .modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .emoji-picker {
    font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", "Android Emoji", "EmojiSymbols", sans-serif;
  }
  .emoji-icon {
    font-size: 24px;
    color: red;
  }
  .con-like {
    --red: rgb(255, 50, 100);
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .con-like .like {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  
  .con-like .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .con-like .outline,
  .con-like .filled {
    fill: var(--red);
    position: absolute;
  }
  
  .con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
  }
  
  .con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
  }
  
  .con-like .poly {
    stroke: var(--red);
    fill: var(--red);
  }
  
  .con-like .like:checked ~ .checkmark .filled {
    display: block
  }
  
  .con-like .like:checked ~ .checkmark .celebrate {
    display: block
  }
  
  @keyframes kfr-filled {
    0% {
      opacity: 0;
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
  }
  
  @keyframes kfr-celebrate {
    0% {
      transform: scale(0);
    }
  
    50% {
      opacity: 0.8;
    }
  
    100% {
      transform: scale(1.2);
      opacity: 0;
      display: none;
    }
  }